<div class="articles">
  <div class="row">
    <div class="small-12 columns">
      <div class="article">
        <div class="headline">
          <h2><a ng-href="/#/articles/article_id">A Blog Post</a></h2>
        </div>
        <div class="article-content">
          <p>
            Hello there.
          </p>
          <p>
            This is a blog post.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <div class="article">
        <div class="headline">
          <h2>A Blog Post</h2>
        </div>
        <div class="article-content">
          <p>
            Hello there.
          </p>
          <p>
            This is a blog post.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <div class="article">
        <div class="headline">
          <h2>A Blog Post</h2>
        </div>
        <div class="article-content">
          <p>
            Hello there.
          </p>
          <p>
            This is a blog post.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>