body {
  font-family: serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: serif;
}

.headline {
  text-align: center;
}

.article {
  max-width: 500px;
  margin: 0 auto;
}

.article p {
  font-size: 18px;
}